.main{
    color: rgb(7, 176, 176);
    font-size: larger;
    font-weight: 700;
}
.tabs{
    text-align: center;
    margin-top: 10px;
    
}
.tabs button{
    padding-left: 25px;
    font-size:large;
    font-weight: 500;
}
.grids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    
}

@media screen and (min-width:1132px){
    .grids{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 190px;
    }
  

}
.icons{
    margin-top: 40px;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

