.prod{
    display: flex;
    margin-top: 30px;
}
.our{
    margin-top: 90px;
}
@media screen and (max-width: 768px){
    .prod{
        display: block;
    }
}
.btn{
    background: linear-gradient(to right, #489fb5, #f0a04b);
}