

.section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
}
.section-title h3{
    font-size: large;
    font-weight: 700;
}
.highlight {
    color: #67b8d1;
    font-weight: bold;
}

.stats-section {
    padding: 50px 20px;
    
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.stats-card {
    background: linear-gradient(135deg, #d0e6f0, #f6d0a8);
    padding: 30px;
    /* border-radius: 20px; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.stats-card:hover {
    transform: translateY(-10px);
}

.stats-card h3 {
    font-size: 3rem;
    font-weight: bold;
}

.stats-card p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #555;
}
